body {
    padding: 0px;
    background-color: #000;
    min-height: 100vh;
}

.navbar-inverse {
    background-color: #fff;
    padding-top: 8px;
    padding-bottom: 8px;
}

.navbar-nav {
    margin-right: 0px;
}

.navbar-header {
    padding-left: 15px;
}

.navbar-brand img {
  width: 160px;
}

#network {
    color: white;
    line-height: 34px;
    margin-right: 30px;
}

.content-page {
    display: none;
}

.content-page h3 {
    padding-left: 20px;
    padding-top: 12px;
	margin-bottom: 0;
}

.content-page .block {
    background-color: black;
    /*padding: 20px;*/
    border-radius: 8px;
    margin-top: 20px;
}

.content-page .block-header {
	padding-bottom: 10px;
	background-color:white;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.content-page table td {
    color: white;
    border: 0 !important;
	min-width: 120px;
}

.content-page table td:first-child {
	padding: 8px 8px 8px 28px;
}

/*
.content-page tr:nth-child(odd) {
	background: #0f0f0f;
}

.content-page tr:nth-child(even) {
	background: #1a1a1a;
}
*/

tr.even {
	background: #0f0f0f;
}

tr.odd {
	background: #1a1a1a;
}

.content-page tr.blue {
	background-color: #1396e2 !important;
}

.content-page tr.green {
	background-color: #27ae60 !important;
}

.content-page tr.red {
	background-color: #c0392b !important;
}

.block h3 {
    margin-top: 0px;
}

#loader {
    margin-top: 40px;
    padding: 40px;
    background-color: white;
    width: 300px;
    height: 300px;
    border-radius: 150px;
    margin-left: auto;
    margin-right: auto;
}

#loader .fa {
    margin-top: 40px;
    margin-left: -30px;
    font-size: 60px;
    position: absolute;
    -webkit-animation: kroot 2s linear infinite;
       -moz-animation: kroot 2s linear infinite;
         -o-animation: kroot 2s linear infinite;
            animation: kroot 2s linear infinite;
}

@-webkit-keyframes kroot {
    from { -webkit-transform: rotate(0deg) translateX(20px) rotate(0deg); }
    to   { -webkit-transform: rotate(360deg) translateX(20px) rotate(-360deg); }
}

@-moz-keyframes kroot {
    from { -moz-transform: rotate(0deg) translateX(20px) rotate(0deg); }
    to   { -moz-transform: rotate(360deg) translateX(20px) rotate(-360deg); }
}

@-o-keyframes kroot {
    from { -o-transform: rotate(0deg) translateX(20px) rotate(0deg); }
    to   { -o-transform: rotate(360deg) translateX(20px) rotate(-360deg); }
}

@keyframes kroot {
    from { transform: rotate(0deg) translateX(20px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(20px) rotate(-360deg); }
}

#loader #scroller {
    width:300px;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    position: relative;
    overflow: hidden;
    top: 90px;
    left: -40px;   
}
#scroller .letter {
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    top: -100px; 
    left: -100px;
}

#loader #searchInProgressText {
    font-size: 24px;
    position: relative;
    top: -40px;
}

#loader #pleaseWaitText {
    position: relative;
    top: 100px;   
}
#transaction-tx-parsed,
#transaction-tx-data {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.poka-hz {
    background-color: #fc8c84 !important;
    display: none;
}

.pre-switcher {
    cursor: pointer;
    position: absolute;
    right: 52px;
    font-size: 10px;
}

pre.list-field {
    padding-top: 16px;
    max-height: 200px;
    padding-right: 36px;
}

.todo {
    background-color: #d5f5b2;
}

#search {
    margin-top: 8px;
    margin-right: 15px !important;
}

.subnav {
    background: #0f0f0f;
    marign: 0px;
}

.subnav .container {
    padding: 8px;
    color: white;
    padding-left: 36px;
}

a {
    text-decoration: underline;
}

a.local-link, a.local-link:visited, a.local-link:hover {
    color: white;
}

.footer {
    position: absolute;
    bottom: 0px;
    padding-bottom: 0px;
    margin-top: 20px;
    margin-bottom: 0px;
    width: 100%;
}

.footer .copyrights {
    position: absolute;
    width: 150px;
    top: 8px;
}

@media screen and (max-width: 640px) {
    .footer {
        line-height: 12px;
        font-size: 12px;
    }
    .footer .copyrights {
        text-align: center;
        position:relative;
        width: 100%;
    }
}

#disqus_thread {
    margin-top: 20px;
}