RewriteEngine on

RewriteRule ^about$ about.html [L,QSA]
RewriteRule ^last$ last.html [L,QSA]
RewriteRule ^top$ top.html [L,QSA]
RewriteRule ^widgets$ widgets.html [L,QSA]
RewriteRule ^privacy$ privacy.html [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^tx/(.*) index.php [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^address/(.*) index.php [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^search/(.*) index.php [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*) index.html [L,QSA]

RewriteRule ^$ index.html [L,QSA]