/* Widget outfit */
.ethplorer-widget {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    min-height: 200px;
}

/* Loading */
.ethplorer-widget .txs-loading {
    margin-top: 16px;
    margin-bottom: 16px;
    min-height: 100px;
    padding-top: 80px;
}

/* Transfer list widget */
.ethplorer-widget .txs {
    width: 100%;
    border: 0 !important;
    border-collapse: collapse;
}

.ethplorer-widget .txs-header {
    padding: 5px;
    color: #dedede;
    font-size: 1.3em;
    position:relative;
}

.ethplorer-widget .txs.small-screen-table .tx-field {
    padding-top: 0px;
    font-size: 14px;
}

.ethplorer-widget .tx-send {
    max-width: 120px;
    overflow: hidden;
    display: inline-block;
    color: #dedede;
    padding-left: 8px;
    padding-right: 8px;
}

.ethplorer-widget .tx-field {
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis !important;
    color: #47C2FF !important;
    border: 0 !important;
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 5px;
    padding-right: 5px;
}

.ethplorer-widget .tx-token {
    min-width: 32px;
    max-width: 60px;
}
.ethplorer-widget .txs.small-screen-table .tx-send,
.ethplorer-widget .txs.small-screen-table .tx-date {
    padding-top: 5px;
}
.ethplorer-widget .txs.small-screen-table .tx-amount {
    padding-bottom: 5px;
}
.ethplorer-widget .txs.small-screen-table tr td:nth-child(2) {
    text-align: right;
}
.ethplorer-widget .txs.small-screen-table .tx-link {
    max-width: 140px;
}
.ethplorer-widget .txs.small-screen-table .tx-amount {
    max-width: 200px;
}
.ethplorer-widget .txs.small-screen-table {
    display: none;
}
.ethplorer-widget .txs tr.hidden {
    transform: rotateX(-90deg);
    transition: all 1s cubic-bezier(.36,-0.64,.34,1.76);    
    opacity: 0;
}
.ethplorer-widget .txs tr.hidden.new {
    opacity: 1;
    transform: none;
    transition: all 1s cubic-bezier(.36,-0.64,.34,1.76);
}

.ethplorer-widget .tx-date {
    max-width: 80px;
    text-align: center;
}

.ethplorer-widget .tx-hash {
    max-width: 80px;
}

.ethplorer-widget a.widget-code-link,
.ethplorer-widget a.widget-code-link:visited,
.ethplorer-widget a.widget-code-link:hover {
    color: #47C2FF !important;
    display: inline-block;
    max-width: 350px;
    overflow: hidden;
    text-overflow: ellipsis !important;
	text-decoration: none !important;
	border-bottom: 1px dashed #47C2FF;
}

.ethplorer-widget a.tx-link,
.ethplorer-widget a.tx-link:visited,
.ethplorer-widget a.tx-link:hover {
    color: #47C2FF !important;
    display: inline-block;
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis !important;
}

.ethplorer-widget a.tx-link,
.ethplorer-widget a.tx-link:visited {
   text-decoration: none !important;
}
.ethplorer-widget a.tx-link:hover {
   text-decoration: underline !important;
}
.ethplorer-widget .tx-token a.tx-link,
.ethplorer-widget .tx-token a.tx-link:visited,
.ethplorer-widget .tx-token a.tx-link:hover {
    max-width: 70px;
}
.ethplorer-widget .tx-amount {
    text-align: right !important;    
}
.ethplorer-widget .tx-amount a,
.ethplorer-widget .tx-amount a:visited,
.ethplorer-widget .tx-amount a:hover{
    max-width: 140px;
    overflow: hidden;
    text-overflow: ellipsis !important;
    color: #dedede !important;
}

.ethplorer-widget .txs-debug {
    position: absolute;
    right: 5px;
    top: 0px;
}
.ethplorer-widget .txs-debug div {
    cursor: pointer;
    width: 32px;
    text-align: center;
    opacity: 0.5;
    float:left;
}
.ethplorer-widget .txs-add {
    color: #0099ff;
}
.ethplorer-widget .txs-debug div:hover {
    opacity: 1; 
}

.ethplorer-widget.widget-topTokens #ethplorer-top .tx-link {
    max-width: 450px;
}
.ethplorer-widget.widget-topTokens tr td:nth-child(3){
    text-align: right;
    color: #dedede !important;
}
.ethplorer-widget.widget-topTokens tr td:nth-child(1){
    text-align: right;
    padding-right: 10px;
    padding-left: 0px;
    color: #8a8c85 !important;
    padding-bottom: 4px;
    max-width: 32px;
    width: 20px;
}
.ethplorer-widget.widget-topTokens a.tx-link.tx-unknown {
    color: #676767 !important;
}
.ethplorer-widget.widget-topTokens a.tx-link {
    max-width: 60vw;
}

.ethplorer-widget.widget-topTokens a[data-criteria] {
    cursor: pointer;
}


.ethplorer-widget.widget-topTokens a[data-criteria].ewSelected {
    cursor: default;
    color: white;
    text-decoration: none;
}

.ethplorer-widget.widget-topTokens .ewDiff {
    max-width: 130px;
    width: 90px;
    text-align: right;
}

.ethplorer-widget.widget-topTokens .ewDiff .ewDiffUp {
    color: #1e8c1e;
}

.ethplorer-widget.widget-topTokens .ewDiff .ewDiffDown {
    color: #ae2525;
}

.ethplorer-widget.widget-topTokens .tx-field-sort {
	text-align: right !important;
	color: #dedede !important;
}

.widget-topTokens-tabs-row {
    margin: 0 auto;
    width: 100%;
    padding-bottom: 20px;
}
.widget-topTokens-tabs-wrapper {
    display: table;
    width: 100%;
}
.widget-topTokens-tabs-wrapper_mobile {
	margin: 0 auto;
    width: 80%;
}
.widget-topTokens-tab {
    text-align: left;
    display: table-cell;
    width: 33.3%;
    border-bottom: 3px solid #47c2ff;
    cursor: pointer;
}
.widget-topTokens-tab-active {
    text-align: left;
    position: relative;
    border-bottom: 3px solid #ffffff;
    cursor: default;
}
.widget-topTokens-tab-active .widget-topTokens-tab-title {
    padding-left: 0;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 7px;
}
.widget-topTokens-tab-active a {
    cursor: default !important;
    text-decoration: none;
}
.widget-topTokens-tab .widget-topTokens-tab-title {
    padding-left: 0;
    color: #47c2ff;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 7px;
}
.widget-topTokens-tab a {
    text-decoration: none;
}
.widget-topTokens-select {
    background-color: rgb(0, 0, 0);
    border: 3px solid #ffffff;
    color: #ffffff;
    padding: 16px 20px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 0;
    outline: none;
    margin: 0;
    font-size: 16px;
    font-weight: 600;
}
.txs-top-tokens-mobile {
	width: 60% !important;
	margin: 0 auto;
}
.ethplorer-widget .tx-field-mob {
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis !important;
    color: #dedede !important;
    border: 0 !important;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 5px;
    padding-right: 5px;
}
.tx-field-price{
	color: #47C2FF !important;
}
@media screen and (max-width: 768px) {
    .widget-topTokens-tabs-wrapper {
        display: none;
    }
    .widget-topTokens-tabs-wrapper_mobile {
        display: block;
    }
}
@media screen and (min-width: 768px) {
    .widget-topTokens-tabs-wrapper {
        display: table;
    }
    .widget-topTokens-tabs-wrapper_mobile {
        display: none;
    }
}
@media screen and (max-width: 700px) {
    .txs-top-tokens {
        display: none;
    }
    .txs-top-tokens-mobile {
        display: table;
    }
}
@media screen and (max-width: 450px) {
	.txs-top-tokens-mobile {
		width: 80% !important;
	}
}
@media screen and (min-width: 700px) {
    .txs-top-tokens {
        display: table;
    }
    .txs-top-tokens-mobile {
        display: none;
    }
}

@media screen and (min-width: 999px) {
    .ethplorer-widget .tx-token {
        max-width: 160px;
    }
    .ethplorer-widget .tx-token a.tx-link,
    .ethplorer-widget .tx-token a.tx-link:visited,
    .ethplorer-widget .tx-token a.tx-link:hover  {
        max-width: 150px;
    }
}
@media screen and (max-width: 680px) {
    .ethplorer-widget .txs.small-screen-table .tx-link {
        max-width: 180px;
    }    
    .ethplorer-widget .widget-txs {
        max-width: 360px;
    }
    .ethplorer-widget .txs.big-screen-table {
        display: none;
    }
    .ethplorer-widget .txs.small-screen-table {
        display: table;
    }
}
@media screen and (max-width: 360px) {
    .ethplorer-widget .txs.small-screen-table .tx-link {
        max-width: 140px;
    }    
}

/* THEME: ethplorer */
.ethplorer-widget.theme-ethplorer {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    color: #D0D0D0;
}

.ethplorer-widget.widget-topTokens.theme-ethplorer {
	max-width: 750px !important;
}
/*
.ethplorer-widget.widget-topTokens.theme-ethplorer tr td:nth-child(1) {
	color: white !important;
}
*/
.ethplorer-widget.widget-topTokens.theme-ethplorer .tx-field-sort {
	color: white !important;
}

.ethplorer-widget.widget-topTokens.theme-ethplorer .widget-topTokens-select {
	color: white !important;
	background-color: rgba(0, 0, 0, 0.4) !important;
}

.ethplorer-widget.theme-light {
    background-color: white;
}

.ethplorer-widget.theme-dark {
    color: #DEDEDE;
}

.tooltipRow {
	display: inline-block;
	white-space: nowrap;
	margin-top: 5px;
}
