.txs {
    width: 100%;
    border: 0 !important;
    border-collapse: collapse;
}
.txs-header {
    font-family: 'Open Sans', sans-serif;
    padding: 5px;
    color: white;
    font-size: 1.3em;
    position:relative;
}
.txs-daily-header {
    font-family: 'Open Sans', sans-serif;
    padding: 5px;
    color: white;
    font-size: 1.3em;
    position:relative;
}
.txs-loading {
    margin-top: 16px;
    margin-bottom: 16px;
}
.tx-send {
    max-width: 120px;
    overflow: hidden;
    display: inline-block;
    color: white;
    padding-left: 8px;
    padding-right: 8px;
}
.tx-field {
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    padding-top: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis !important;
    color: #47C2FF !important;
    border: 0 !important;
    padding-left: 5px;
    padding-right: 5px;
}
.txs.small .tx-field {
    padding-top: 0px;
    font-size: 14px;
}
.tx-token {
    min-width: 32px;
    max-width: 60px;
}
.txs.small .tx-send, .txs.small .tx-date {
    padding-top: 5px;
}
.txs.small .tx-amount {
    padding-bottom: 5px;
}
.txs.small tr td:nth-child(2) {
    text-align: right;
}
.tx-date {
    max-width: 80px;
    text-align: center;
}
.tx-hash {
    max-width: 80px;
}
a.tx-link, a.tx-link:visited, a.tx-link:hover {
    color: #47C2FF !important;
    display: inline-block;
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis !important;
}
.txs.small .tx-link {
    max-width: 140px;
}
a.tx-link, a.tx-link:visited {
   text-decoration: none !important;
}
a.tx-link:hover {
   text-decoration: underline !important;
}
.tx-token a.tx-link, .tx-token a.tx-link:visited, .tx-token a.tx-link:hover  {
    max-width: 70px;
}
.tx-amount {
    text-align: right !important;    
}
.tx-amount a, .tx-amount a:visited, .tx-amount a:hover{
    max-width: 140px;
    overflow: hidden;
    text-overflow: ellipsis !important;
    color: white !important;
}
.txs.small .tx-amount {
    max-width: 200px;
}
.widget-txs {
    font-family: 'Open Sans', sans-serif;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    margin-top: 32px;
    margin-bottom: 16px;
    color: #D0D0D0;
}
.txs.small {
    display: none;
}
.txs tr.hidden {
    transform: rotateX(-90deg);
    transition: all 1s cubic-bezier(.36,-0.64,.34,1.76);    
    opacity: 0;
}
.txs tr.hidden.new {
    opacity: 1;
    transform: none;
    transition: all 1s cubic-bezier(.36,-0.64,.34,1.76);
}
.txs-debug {
    position: absolute;
    right: 5px;
    top: 0px;
}
.txs-debug div {
    cursor: pointer;
    width: 32px;
    text-align: center;
    opacity: 0.5;
    float:left;
}
.txs-add {
    color: #0099ff;
}
.txs-debug div:hover {
    opacity: 1; 
}

#ethplorer-top .tx-link {
    max-width: 450px;
}
#ethplorer-top tr td:nth-child(3){
    text-align: right;
    color: white !important;
}
#ethplorer-top tr td:nth-child(1){
    text-align: right;
    padding-right: 10px;
    color: #8a8c85 !important;
    padding-bottom: 4px;
}
#ethplorer-top .tx-unknown {
    color: #676767 !important;
}

@media screen and (min-width: 999px) {
    .tx-token {
        max-width: 160px;
    }
    .tx-token a.tx-link, .tx-token a.tx-link:visited, .tx-token a.tx-link:hover  {
        max-width: 150px;
    }
}
@media screen and (max-width: 680px) {
    .txs.small .tx-link {
        max-width: 180px;
    }    
    .widget-txs {
        max-width: 360px;
    }
    .txs {
        display: none;
    }
    .txs.small {
        display: table;
    }
}
@media screen and (max-width: 360px) {
    .txs.small .tx-link {
        max-width: 140px;
    }    
}    